spring:
  config:
    activate:
      on-profile: local-oauth2
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_SECRET_KEY}
            scope:
              - email
              - profile